[submodule "floirotblog/themes/hugo-bearcub"]
	path = floirotblog/themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub
[submodule "floirotblog/public"]
	path = floirotblog/public
	url = https://github.com/floirot/floirot.github.io.git
	branch = main
